#totalwrapper {
  width: 280px;
}

#wrapper-status, #toddle {
  max-width: 270px;
  overflow: hidden;
  font-size: 10px;
}

#wrapper-left {
  width: 260px;
}

#wrapper-down{
  display: none;
}

#title {
  display: none;
}

#logo {
  width: 182px;
  height: 57px;
}

#sendtodo {
  margin-top: 15px;
  margin-left: 15px;
}

#online {
  left: 0px;
}

.todo-list label {
	font-size:12px;
  font-weight: bold;
}

.todo-list .todo_text {
	font-size:10px;
  margin-left: 25px;
}

.todo_input {
  width: 240px;
}

.text_input {
  width: 240px;
}

.title-medium {
  font-size: 12px;
}
/* ToDos UI */

.destroy {
	display:inline-block;
	height:15px;
	width:15px;
  background-size: 15px 15px;
  left: 190px;
}

.edit {
	display:inline-block;
	height:15px;
	width:15px;
  background-size: 15px 15px;
  left: 190px;
}

.destroy:hover, .edit:hover {
  height:15px;
	width:15px;
  background-size: 15px 15px;
}

.todo-list input[type="checkbox"]+label:before {
	height:15px;
	width:15px;
	padding-left: 10px;
	background-size: 15px 15px;
}

.todo-list input[type="checkbox"]:checked+label:before{
	background-size: 15px 15px;
}
