* {
	margin: 0;
}

body {
	background-color: #666;
	color: #333333;
	font-size:13px;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
}

/* Styles */

.btn {
	background: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
  border-color: #0CF;
  text-decoration: none;
}

.input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

.input:hover {
	border-color: #0CF;
}

.input:focus {
	border-color: #0CF;
}

.inputproblem {
	border-color: #FF1E00;
}

/* Titles */

#title {
	height: 104px;
	margin-left: 70px;
	color: #FFFFFF;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	padding-top: 55px;
}

.title-medium {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 15px;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	border-style: none none solid;
}

.title-content {
	padding: 5px 5px 5px 5px;
	background-color: #00B3E6;
	border-radius: 5px;
}

#cloudant-response {
	padding: 5px;
}

#output {
	margin-top: 30px;
}

/* Define HTML Tags */

input, button, select, option, textarea {
	color: #333333;
	font-size:13px;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	margin: 2px;
}

/* Define Wrappers */

#totalwrapper {
	background-color: #FFF;
	width: 950px;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
  	margin-left: auto;
  	margin-right: auto;
	padding: 10px;
}

#wrapper-tabs {
	width: 930px;
}

#wrapper-top {
	background-color:#0CF;
	padding: 5px;
	margin-bottom: 10px;
}

#wrapper-status, #toddle {
	background-color: #390;
	padding: 5px;
	margin-bottom: 10px;
	color: #e9ffd8;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: left;
}

#wrapper-left {
	background-color:#0CF;
	padding: 10px;
	float: left;
	width: 930px;
	min-height: 200px;
}

#wrapper-down{
	background-color:#0CF;
	padding: 10px;
	float: left;
	width: 930px;
	min-height: 200px;
	margin-top: 10px;
}

#floatclear {
	clear: both;
}

/* List Tabs */

.tab, .plustab{
	background-color: rgba(0, 213, 255, 0.70);
	height: 20px;
  width: 80px;
	text-align: center;
	vertical-align: center;
	font-weight: bold;
	padding-top: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	float: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.plustab {
	width: 30px;
}

.defaulttab {
	background-color: #0CF;
}

.tab:hover, .plustab:hover {
	background-color: rgba(0, 213, 255, 0.92);
	cursor: pointer;
}

.defaulttab:hover {
	background-color: #0CF;
	cursor: default;
}

/* Forms */
.todo_input {
	width: 400px;
	margin-bottom: 10px;
}

.text_input {
	width: 400px;
	height: 60px;
	margin-bottom: 10px;
	resize: none;
}

/* Circles */
.circle, .colorDiv {
	display: inline-block;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	border-style: solid;
  border-width: 1px;
	border-color: #000;
}

.colorDiv {
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	line-height: normal;
	margin-left: 15px;
}

.circlehover {
	width: 21px;
	height: 21px;
	border-style: solid;
	border-width: 3px;
	border-color: #000;
}

.circleclicked {
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	background-image: url('../img/checkmark.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	content:"";
}

.black {
	background-color: #333;
}

.red {
	background-color: #FF1E00;
}

.orange {
		background-color: #FFB100;
}

.green {
		background-color: #00FF43;
}

/* Define ToDo List */

.todo-list li{
	display: inline-block;
	width: 100%;
	min-height: 25px;
	line-height: 30px;
	margin-left: -35px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 10px;
}

.todo-list li:not(:last-child) {
		margin-bottom: 10px;
}

.todo-list li:hover {
	background-color: #0CF;
	border-radius: 5px;
}

.todo-list .view {
	line-height: 30px;
	min-height: 30px;
	vertical-align: middle;
	line-height: normal;
}

.todo-list .todo_text {
	margin-left: 40px;
}

.todo-list label {
	font-size: 16px;
	vertical-align: middle;
	line-height: normal;
	font-weight: bold;
}

.todo-list input[type="checkbox"] {
	display: none;
}

.todo-list input[type="checkbox"]+label {
	cursor:pointer;
}

.todo-list input[type="checkbox"]+label:before {
	content:"";
	display:inline-block;
	height:20px;
	width:20px;
	padding-left: 20px;
	background:url(../img/checkbox_off.png) center no-repeat;
	background-size: 20px 20px;
	vertical-align: middle;
	line-height: normal;
}

.todo-list input[type="checkbox"]:checked+label:before{
	background:url(../img/checkbox_on.png) center no-repeat;
	background-size: 20px 20px;
	vertical-align: middle;
	line-height: normal;
}

.destroy {
	display:inline-block;
	height:18px;
	width:18px;
	background: url(../img/delete_icon.png) center no-repeat;
	background-size: 18px 18px;
	border: none;
	cursor:pointer;

	position: relative;
	top: -35px;
	left: 850px;
}

.destroy:hover {
	background: url(../img/delete_hover.png) center no-repeat;
	background-size: 18px 18px;
}

.edit {
	display:inline-block;
	height:18px;
	width:18px;
	background: url(../img/edit_icon.png) center no-repeat;
	background-size: 18px 18px;
	border: none;
	cursor:pointer;

	position: relative;
	top: -35px;
	left: 800px;
}

.edit:hover {
	background: url(../img/edit_hover.png) center no-repeat;
	background-size: 18px 18px;
}

/* JSON Responses */

#cloudant-response {
    max-height: 300px;
    overflow: scroll;
}

#cloudant-response2 {
		max-height: 200px;
		overflow: scroll;
}

#cloudant-response3 {
		max-height: 220px;
		overflow: scroll;
}

/* Trick to force Safari to show Scrollbars */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#online {
	position: fixed;
	height: 18px;
	width: 60px;
	top: 0px;
	left: 80px;
	background-color: #b3b3b3;
	border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
	padding: 5px;
	color: #ffffff;
}

#status {
		margin-right: 5px;
		margin-top: -10px;
		font-size: 30px;
		float: left;
}

#online_status {
	font-size: 14px;
	float: left;
}

#preload {
	display: none !important;
	}
